<div>
    <p>Displaying Text input into element</p>
    <p><b><i>DIRECTIVE HTML: &lt;example6-directive something='{{ exampleSomething() }}'&gt;</i></b></p>
    <p><b>OUTPUT: </b>{{ something }} </p> 
<div>