<div id="example9Directive">
    <p>Directive: Getting shared value from factory/server</p>
    <p><b><i>DIRECTIVE HTML: &lt; example9-directive &gt;</i></b></p>
    <button ng-click=getRequest()>click</button>
    <p><b>OUTPUT: </b>{{ str }} </p> 
<div>