<div id="example7Directive">
    <p>Directive template with 2 way data binding with input text box.</p>
    <p><b><i>DIRECTIVE HTML: &lt;example7-directive&gt;</i></b></p>
    <p><b><i>              : &lt;input ng-model="inputString1"&gt;</i></b></p>
    <p><b><i>              : &#123 &#123; inputString1 &#125 &#125;</i></b></p>
    <input ng-model="inputString1" id="example7TextBox">
    <p id="example72wayBinding" ><b>2 way data binding: inputString1 = </b>{{ inputString1 }} </p> 
<div>