<div id="example2Directive">
    <p>Displaying Text from Direcitve Template File</p>
    <p><b><i>DIRECTIVE HTML: &lt;example2-directive&gt;</i></b></p>
    <p><b>OUTPUT:</b>Some random Text Here.. </p> 
<div>