<div>
    <p>Displaying Text input into element</p>
    <p><b><i>DIRECTIVE HTML: &lt;example4-directive something='passing string into 4th directive'&gt;</i></b></p>
    <p><b>OUTPUT: </b>{{ something }} </p> 
<div>