
<div>
    <p> Hello World </p>
    <textarea rows="4" cols="50" ng-model="input1">
        
    </textarea>
    {{input1}}
    <textarea rows="4" cols="50" ng-model="input2">
        
    </textarea>
</div>