

<div> 
    <iframe 
        style="width: 100%; height: 800px" 
        src="http://embed.plnkr.co/?sidebar=tree&autoCloseSidebar=false" 
        frameborder="0"
        sidebar = "true" 
        allowfullscren="allowfullscren">
    </iframe>
</div>