<div>


    <style>

        .node {
            fill: #ccc;
            stroke: #fff;
            stroke-width: 2px;
        }
        /*add css for links*/
        
        .link {
            stroke: #777;
            stroke-width: 2px;
        }

    </style>

    <div id="graph">
    </div>


</div>