



<div class="container" >

    <h1> Home Page </h1>

    
    <div>
        <simple-table-directive>
    </div>

    <div>
        <force-graph-directive>
    </div>

    <div>
        <div my-directive></div>
    </div>

</div><!-- /.container -->