<!DOCTYPE html>
<html>

  <head>
    <meta charset = "UTF-8">

    <script type="text/javascript" src="libs.js"></script>
    <script type="text/javascript" src="templates.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/css.css">

    <title>James O'Meara</title>

  </head>

  <header ng-controller="navController">
    <nav-directive></nav-directive>
  </header>
  

  <body ng-app="app" style="height: 80px;">

    <div class="container" ng-controller="mainController">

      <div class="starter-template">
        <p>Section = {{ currentPage() }}</p>
      </div>

      <div>
        <simple-table-directive>
      </div>

    </div><!-- /.container -->

  </body>

</html>




