<!DOCTYPE html>
<html ng-app="app">

  <head>
    <meta charset = "UTF-8">

    <script type="text/javascript" src="libs.js"></script>
    <script type="text/javascript" src="templates.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/css.css">

    <title>James O'Meara</title>

    <header ng-controller="navController">
      <nav-directive></nav-directive>
    </header>

  </head>

 
  

  <body ng-controller="mainController" style="height: 80px;">


    <div class="container" >
        <div ng-show="showTab(1)">
            <tab1-directive>
        </div>
    </div><!-- /.container -->

    <div class="container" >
        <div ng-show="showTab(2)">
            <tab2-directive>
        </div>
    </div><!-- /.container -->

    <div class="container" >
        <div ng-show="showTab(3)">
            <tab3-directive>
        </div>
    </div><!-- /.container -->

  </body>

</html>




