<!DOCTYPE html>
<html>

  <head>

    <script type="text/javascript" src="app/client/public/libs.js"></script>
    <script type="text/javascript" src="app/client/public/app.js"></script>

    <title>James O'Meara</title>
  </head>

  <body ng-app="app">
  	<p> Hello World </p>

    <div ng-app="app" ng-controller="myfirstcontroller">
      <ul>
          <li ng-repeat="x in something">{{x}}</li>
      </ul>
    </div>

  </body>

</html>