<!DOCTYPE html>
<html>

  <head>
    <meta charset = "UTF-8">

    <script type="text/javascript" src="libs.js"></script>
    <script type="text/javascript" src="templates.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/css.css">

    <title>James O'Meara</title>

  </head>

  <header ng-controller="navController">
  
    <nav class="navbar navbar-inverse navbar-default.navbar-static-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: isNavbuttonActive(sections.home) }" ><a ng-click="setSection(sections.home)"> Home </a></li>
            <li ng-class="{active: isNavbuttonActive(sections.two) }" ><a ng-click="setSection(sections.two)"> About </a></li>
            <li ng-class="{active: isNavbuttonActive(sections.three) }" ><a ng-click="setSection(sections.three)"> Contact </a></li>
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <p>Section = {{selected()}}</p>
  </header>
  

  <body ng-app="app" style="height: 80px;">

    <div class="container" ng-controller="mainController">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        <p>Section = {{currentPage()}}</p>
      </div>

      <div  >
        <ul>
            <li ng-repeat="x in something">{{x}}</li>
            {{testVariable}}
        </ul>
        <test-directive>
      </div>
    
      <div>
        <test-directive>
      </div>

      <div>
        <my-customer>
      </div>
      


    </div><!-- /.container -->

  </body>

</html>




